<nav class="nav-wrapper red">
  <div class="container">
    <a href="" class="brand-logo">Mean crud</a>
    
  </div>

  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a routerLink="/employee" routeLinkActive="active" class=""></a> </li>
    <li><a routerLink="/purchase" routeLinkActive="active">purchases</a> </li>
    <li><a routerLink="/discount" routeLinkActive="active">discounts</a> </li>
    <li><a routerLink="/client" routeLinkActive="active">client</a> </li>
    <li><a routerLink="/promotion" ronduteLinkActive="active">promotios</a> </li>
    <li><a routerLink="/inventory" routeLinkActive="active">Inventory</a> </li>
    
  </ul>
</nav>


<router-outlet></router-outlet>

